.loading{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.icon {
    color: black;
    margin-left: 3rem;
    font-size: 2rem;
}

.title{
    color: black;
}